<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Users Creation</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1 style="text-align:center; margin: 20px">User Creation Form</h1>
    <div class="container" style="display:flex; justify-content: space-around;">
        <form action="/create_user" method="post">
            First Name: <input name="first_name" type="text">
            Last Name: <input name="last_name" type="text">
            Email: <input name="email" type="email">
            <input type="submit">
        </form>
    </div>
    
</body>
</html>