<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Users Read All</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1 style="text-align:center; margin: 20px">All Users</h1>
    <div class="container">
        <table>
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% endfor %}
                <a href="/new_user_form">New User</a></button>
            </tbody>
        </table>
    </div>
</body>
</html>