<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <form action="/get_info" method="POST">
        <input type="text" name="name">Name
        <select name="location" id="">Dojo Location
            <option value="San Jose">San Jose</option>
            <option value="Seattle">Seattle</option>
            <option value="Los Angeles">Los Angeles</option>
        </select>
        <select name="language" id="">Favorite Language
            <option value="HTML">HTML</option>
            <option value="CSS">CSS</option>
            <option value="Javascript">Javascript</option>
            <option value="Python">Python</option>
        </select>
        <textarea name="comment" id="" cols="30" rows="10">Comment(optional):</textarea>
    </form>
    
</body>

</html>