<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    

</head>

<body>

    <div class="container">
        <div class="container flex-lg-row">
            <div class="row">
                <div class="col">
                </div>
                <div class="col-6 bg-secondary bg-gradient flex-column">
                    <h1 class="display-2 text-center shadow-lg p-3 mb-3 bg-body rounded mt-4">Submitted Info</h1>
                    <table class="table mt-5">
                        <thead>
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Location</th>
                            <th scope="col">Language</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class="text-white fw-normal"scope="row">{{ session["first_name"] }}</th>
                            <td class="text-white">{{ session["last_name"] }}</td>
                            <td class="text-white">{{ session["location"] }}</td>
                            <td class="text-white">{{ session["language"] }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-floating">
                        <textarea class="form-control shadow-lg p-3 mb-5 bg-body rounded" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">{{ session["comment"] }}</label>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>