<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>


<body>
    
    <div class="container" style="display:flex; flex-direction: column; justify-content: center; align-items:center"></div>
        <h1 style="text-align:center; margin-top: 200px;">Counter</h1>

        <h3 style="text-align:center">{{ session["counter"] }} times</h3>

        <div class="small_container" style="display:flex; justify-content:center">
            <a href='http://127.0.0.1:5001/destroy_session'><button style="align-self: center">Reset</button></a>
        </div>
    




</body>


</html>